<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .edit-form{
            display: block;
            text-align: center;
        }
        .input{
            border-radius: 15%;
        }
    </style>
</head>
<body style="background-color: #00a5bb">
<form class="edit-form" th:action="@{/trains}" method="get">
    <input class="input" name="name" type="text" placeholder="enter name"><br>
    <input class="input" name="fromStationId" type="number" placeholder="enter from station Id"><br>
    <input class="input" name="toStationId" type="number" placeholder="enter to station Id"><br>
    <input class="input" name="trainNumber" type="text" placeholder="enter train number"><br>
    <input class="input" name="maxWagons" type="text" placeholder="enter max wagons"><br>
    <input class="input" name="countOfWagons" type="text" placeholder="enter count of wagons"><br>
    <input class="input" name="trainStatus" type="checkbox" placeholder="enter train status"><br>
    <button type="submit">Edit</button>
</form>
</body>
</html>